<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE dataset SYSTEM "logback-restricted.dtd">
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!--
			encoders are assigned the type
			ch.qos.logback.classic.encoder.PatternLayoutEncoder by default
		-->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

		<!--
	<appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
			<connectionSource
			class="ch.qos.logback.core.db.DriverManagerConnectionSource">
			<driverClass>com.mysql.jdbc.Driver</driverClass>
			<url>jdbc:mysql://localhost/biblioteca</url> <user>root</user>
			<password>root</password> </connectionSource> <connectionSource
			class="ch.qos.logback.core.db.DataSourceConnectionSource">

			<dataSource class="${dataSourceClass}"> < Joran cannot substitute
			variables that are not attribute values. Therefore, we cannot declare
			the next parameter like the others. > <param name="${url-key:-url}"
			value="${url_value}" /> <serverName>${serverName}</serverName>
			<databaseName>${databaseName}</databaseName> </dataSource>

			<user>${user}</user> <password>${password}</password>
			</connectionSource>
		<connectionSource class="ch.qos.logback.core.db.JNDIConnectionSource">
			<param name="jndiLocation" value="jdbc/MySQLDS" />
				<param name="username" value="root" /> <param name="password"
				value="root" />
		</connectionSource>
	</appender>
			-->

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<!-- <appender-ref ref="DB" /> -->
	</root>
</configuration>